ion-tab-bar{
    width: 80%;
    align-self: center;
    margin-bottom: 1vh;
    border-radius: 10px;
    overflow: visible !important;
    contain: none;
    background-color: #E7A977;
    justify-content: space-evenly;
    --ion-tab-button-width: 5px;
    height: 6vh;
    box-shadow: 0px 4px 12px #0b0b3281
}

ion-tab-button{
    --color: var(--ion-tab-bar-color, #0B0B32);
    background: none;
    --color-selected: white;
    transition: 0.3s;  
    width: 20%;
    flex: 0 0 auto;
}
ion-tab-button.tab-selected{
   height: 9vh;
   width: 25%;
   transition: 0.3s;
    margin-bottom: 5vh;
    background: #0B0B32;
    border-radius: 15px;
}





