@keyframes fadeIn {
  0% {
    transform: translate(var(--x, 0), var(--y, 0));
    opacity: 0;
  }
  100% {
    transform: translate(0,0);
    opacity: 1;
  }
}

.fade-from-top {
  --x: 0;
  --y: -50px;
}

.fade-from-bottom {
  --x: 0;
  --y: 50px;
}

.fade-from-left {
  --x: -50px;
  --y: 0;
}

.fade-from-right {
  --x: 50px;
  --y: 0;
}

.fade-from-diagonal {
  --x: -30px;
  --y: 30px;
}

.login-container {
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: center;
  padding: 20px;
 
}

.logo-container {
  text-align: center;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: 'fadeIn' ease-in-out 1s;


}

.logo {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.2;
  color: #0B0B32;
  margin: 0;
  font-family: amatic;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-item {
  --background: none;
  --border-radius: 8px;
  --highlight-height: 0;
  margin-bottom: 0px;
  --border-style:none;
  height: 60px;
  overflow: visible;
  animation: 'fadeIn' ease-in-out 1s;

  ion-input{
    --highlight-color:#0B0B32;
    --border-radius: 15px;
    --label-opacity: 0.7;
    border-radius: 15px;
    --color:var(--border-color);
    box-shadow: 0px 3px 10px #0b0b3238;
    --background:white;
    }
    
}

.input-password{
    width: 70%;
    margin-right: 10%;
}
.login-button {
  --border-radius: 8px;
  height: 50px;
  font-weight: bold;
  --background: #0B0B32;
  margin-top: 10px;
  align-self: center;
  justify-self: center;
  margin-bottom: 10px;
  width: 25%;
  font-size: 15px;
  font-weight: bold;
  animation: 'fadeIn' ease-in-out 1s;

  ion-img{
    width: 50%;
  }
}

.google-button {
  --border-radius: 8px;
  height: 50px;
  --border-color: #0B0B32;
  --color: #0B0B32;
  font-weight: bold;
  --background:white;
  animation: 'fadeIn' ease-in-out 1s;

  ion-icon{
    margin-bottom: 1px;
  }
}

.divider {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.divider-line {
  flex: 1;
  height: 1px;
  background-color: #0B0B32;
}

.divider-text {
  padding: 0 10px;
  color: #0B0B32;
  font-size: 0.9rem;
}

.links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  animation: 'fadeIn' ease-in-out 1s;
 
  p{
    --color:var(--border-color);
    margin: 0px;
  }
}

.link {
  color: #0b0b3275;
  text-decoration: none;
  font-size: 0.9rem;
}

//web asset


/* Reset básico para componentes Ionic */
ion-content {
  --background: none;
  font-family: 'Exo', sans-serif;
  position: relative;
  overflow: hidden;
  height: 100vh;
}

/* Gradiente de fundo */
.area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  background: -webkit-linear-gradient(to left, #ffffff, #ffffff);
  background: linear-gradient(to left, #ffffff, #ffffff);
  z-index: -2;
}

/* Container do conteúdo central */
.context {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.context h1 {
  text-align: center;
  color: #E7A977;
  font-size: 2.5rem;
  padding: 0 16px;
}

/* Bolhas flutuantes */
.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: #E7A977;
  animation: animate 25s linear infinite;
  bottom: -150px;
}

/* Configurações individuais das bolhas */
.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

/* Animação das bolhas */
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 35%;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 70%;
  }
}